AUTH_API_URL="http://localhost:3000/api/v1/auth"
USERS_API_URL='http://localhost:3000/api/v1/users'
STORES_API_URL="http://localhost:3004/api/v1/stores"
CATALOG_API_URL="http://localhost:3004/api/v1/catalog"